
MulticastChat/MulticastChat/obj/project.assets.json
MulticastChat/MulticastChat/obj/MulticastChat.csproj.nuget.g.targets
MulticastChat/MulticastChat/obj/MulticastChat.csproj.nuget.cache
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.exe
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.pdb
MulticastChat/MulticastChat/obj/MulticastChat.csproj.nuget.g.props
MulticastChat/MulticastChat/obj/MulticastChat.csproj.nuget.dgspec.json
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.dll
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.csprojAssemblyReference.cache
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.csproj.FileListAbsolute.txt
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.assets.cache
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.AssemblyInfoInputs.cache
MulticastChat/MulticastChat/obj/Debug/netcoreapp3.0/MulticastChat.AssemblyInfo.cs
MulticastChat/MulticastChat/bin/Debug/netcoreapp3.0/MulticastChat.pdb
MulticastChat/.vs/MulticastChat/v16/Server/sqlite3/storage.ide
MulticastChat/MulticastChat/bin/Debug/netcoreapp3.0/MulticastChat.dll
MulticastChat/.vs/MulticastChat/v16/Server/sqlite3/db.lock
MulticastChat/.vs/MulticastChat/v16/.suo
MulticastChat/.vs/MulticastChat/DesignTimeBuild/.dtbcache
MulticastChat/MulticastChat/obj/Debug/MulticastChat.Properties.Resources.resources
MulticastChat/MulticastChat/obj/Debug/MulticastChat.pdb
MulticastChat/MulticastChat/obj/Debug/MulticastChat.csprojAssemblyReference.cache
MulticastChat/MulticastChat/obj/Debug/MulticastChat.exe
MulticastChat/MulticastChat/obj/Debug/MulticastChat.csproj.GenerateResource.cache
MulticastChat/MulticastChat/obj/Debug/MulticastChat.csproj.FileListAbsolute.txt
MulticastChat/MulticastChat/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MulticastChat/MulticastChat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MulticastChat/.vs/MulticastChat/v16/Server/sqlite3/storage.ide-wal
MulticastChat/.vs/MulticastChat/v16/Server/sqlite3/storage.ide-shm
